@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header>
        <div class="class-header">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4"><a href="">home</a></h5>
                    <h5 class="text-white h4"><a href="">About Us</a></h5>
                    <h5 class="text-white h4"><a href="">Our Menu</a></h5>
                    <h5 class="text-white h4"><a href="">Reserve A Table</a></h5>
                    <h5 class="text-white h4"><a href="">Contact</a></h5>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="btnclassss">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
        <div class="imgclass">
            <h1>Welcome to Meal</h1>
            <div class="classbtn2">
                <button>Reserve a Table</button>
            </div>
        </div>
    </header>
    <main>
        <section class="one">
            <div class="container">
                <div class="classtext">
                    <h1>Find your best food</h1>
                    <p>Free Website Template For Restaurants Made by Colorlib</p>
                </div>
            </div>
        </section>
        <section class="twe">
            <div class="classboxss">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="classcardimg">
                                <img src="~/assets/img/ximg_1.jpg.pagespeed.ic.L60-aVe_WJ.webp" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="classcardtext">
                                <h3>VEGIES</h3>
                                <h5>BEEF EMPANADAS</h5>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <div class="class-btn">
                                    <button>LOREAM MORE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="classcardimg">
                                <img src="~/assets/img/ximg_1.jpg.pagespeed.ic.L60-aVe_WJ.webp" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="classcardtext">
                                <h3>VEGIES</h3>
                                <h5>BEEF EMPANADAS</h5>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <div class="class-btn">
                                    <button>LOREAM MORE</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="classcardimg">
                                <img src="~/assets/img/ximg_1.jpg.pagespeed.ic.L60-aVe_WJ.webp" alt="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="classcardtext">
                                <h3>VEGIES</h3>
                                <h5>BEEF EMPANADAS</h5>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <div class="class-btn">
                                    <button>LOREAM MORE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="four">
            <div class="classtext4">
                <div class="container">
                    <div class="row">
                        <h1>The Restaurant</h1>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="five">
            <div class="classimg2">
                <img src="~/assets/img/xbg_hero.png.pagespeed.ic.amM03QbRMh.webp" alt="">
            </div>
        </section>
        <section class="six">
            <div class="classname">
                <h1>
                    Meet The Chefs
                </h1>
            </div>
        </section>
        <section class="seven">
            <div class="classabout">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="classimg-2">
                                <img src="~/assets/img/pexels-photo-220453.webp" alt="">
                            </div>
                            <div class="class-text">
                                <h1>Daniel Graham</h1><br>
                                <h6>MASTER CHEF</h6><br>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <br>
                                <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.</p>
                                <br>
                                <div class="classicon">
                                    <button> <i class="fa-brands fa-facebook"></i></button>
                                    <button> <i class="fa-brands fa-twitter"></i></button>
                                    <button><i class="fa-brands fa-instagram"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="classimg-2">
                                <img src="~/assets/img/photo-1438761681033-6461ffad8d80.jfif" alt="">
                            </div>
                            <div class="class-text">
                                <h1>Lara Graham</h1><br>
                                <h6>MASTER CHEF</h6><br>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <br>

                                <br> <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. It is a paradisematic country.</p>
                                <div class="classicon">
                                    <button> <i class="fa-brands fa-facebook"></i></button>
                                    <button> <i class="fa-brands fa-twitter"></i></button>
                                    <button><i class="fa-brands fa-instagram"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="eighpt">
            <div class="classtext5">
                <div class="container">
                    <div class="row">
                        <h1>Menu</h1>
                        <p>Free Website Template For Restaurants Made by Colorlib</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="nine">
            <div class="boxs-3s">
                <div class="container">
                    <div class="row">
                        <div class="boxs2121">
                            <div class="btn21">
                                <button>BREAKFAST</button>
                            </div>
                            <div class="btn22">
                                <button>BRUNCH</button>
                            </div>
                            <div class="btn23">
                                <button>DINNER</button>
                            </div>
                        </div>
                        <div class="col-md-12 namr">
                            <div class="classimgs">
                                <img src="~/assets/img/images.jfif" alt="">
                            </div>
                            <div class="classtexss">
                                <h2>Warm Spinach Dip & Chips</h2>
                                <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips & salsa.</p>
                            </div>
                        </div><hr>
                        <div class="col-md-12 namr">
                            <div class="classimgs">
                                <img src="~/assets/img/ximg_1.jpg.pagespeed.ic.L60-aVe_WJ.webp" alt="">
                            </div>
                            <div class="classtexss">
                                <h2>Warm Spinach Dip & Chips</h2>
                                <p>Crisp tortilla and plantain chips covered with lightly spiced ground beef, melted cheese, pickled jalapeños, guacamole, sour cream and salsa.</p>
                            </div>
                        </div><hr>
                        <div class="col-md-12 namr">
                            <div class="classimgs">
                                <img src="~/assets/img/ximg_3.jpg.pagespeed.ic.PFMzUZS3Jy (1).webp" alt="">
                            </div>
                            <div class="classtexss">
                                <h2>Warm Spinach Dip & Chips</h2>
                                <p>A heaping mountain of rings, handmade with Panko breading and shredded coconut flakes.</p>
                            </div>
                        </div><hr>
                        <div class="col-md-12 namr">
                            <div class="classimgs">
                                <img src="~/assets/img/ximg_2.jpg.pagespeed.ic.JczwRk7a5W.webp" alt="">
                            </div>
                            <div class="classtexss">
                                <h2>Warm Spinach Dip & Chips</h2>
                                <p>Spinach and artichokes in a creamy cheese dip with warm tortilla chips & salsa.</p>
                            </div>
                        </div><hr>
                        <div class="col-md-12 namr">
                            <div class="classimgs">
                                <img src="~/assets/img/ximg_3.jpg.pagespeed.ic.PFMzUZS3Jy.webp" alt="">
                            </div>
                            <div class="classtexss">
                                <h2>Warm Spinach Dip & Chips</h2>
                                <p>Lobster and tender shrimp, with onions, sweet peppers, spinach and our three cheese blend. Griddled and served with tomato salsa and sour cream.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/assets/js/style.js"></script>
</body>
</html>